<ion-header>
  <ion-toolbar>
    <ion-title align="center">
       Quiz 01 Laura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <p align="center">Usuarios de {{json.empresa}}</p>
  <p align="center">{{json.sistema.nombre}}, {{json.sistema.area}}</p>
  <br>


  <ion-card *ngFor = "let u of usuarios">
    <ion-card-header align="center">
      {{json.sistema.usuarios[u].nombre}} {{json.sistema.usuarios[u].apellidos}}
    </ion-card-header>
  
    <ion-card-content>
     Nombre: {{json.sistema.usuarios[u].nombre}}
     <br>
     Apellidos: {{json.sistema.usuarios[u].apellidos}}
     <br>
     Edad: {{json.sistema.usuarios[u].edad}}
     <br>
     Color favorito: {{json.sistema.usuarios[u].color}}
     <br>
     Foto de perfil: <img src={{json.sistema.usuarios[u].foto}}> 
    </ion-card-content>
  </ion-card>

</ion-content>
